/* resources/css/overrides/login-autofill.css */
.login-form input:-webkit-autofill,
.login-form input:-webkit-autofill:hover,
.login-form input:-webkit-autofill:focus {
    border: none;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #151515 inset;
    transition: background-color 5000s ease-in-out 0s;
}
